@model Tour_FP.Models.Domain.CustomerDashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_udashboardLayout.cshtml";
}

<div class="container mt-4">
    <h2>User Dashboard</h2>

    @if (Model.CustomerInfo.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Destination ID</th>
                        <th>Destination Name</th>
                        <th>Location</th>
                        <th>Number of Adults</th>
                        <th>Number of Children</th>
                        <th>Preferred Start Date</th>
                        <th>Preferred End Date</th>
                        <th>Special Requests</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customerInfo in Model.CustomerInfo)
                    {
                        var destinationInfo = Model.DestinationInfo.FirstOrDefault(di => di.DestinationId == customerInfo.DestinationId);
                        if (destinationInfo != null)
                        {
                            <tr>
                                <td>@customerInfo.DestinationId</td>
                                <td>@destinationInfo.CountryName</td>
                                <td>@destinationInfo.Location</td>
                                <td>@customerInfo.NumberOfAdults</td>
                                <td>@customerInfo.NumberOfChildren</td>
                                <td>@customerInfo.PreferredStartDate.ToShortDateString()</td>
                                <td>@customerInfo.PreferredEndDate.ToShortDateString()</td>
                                <td>@customerInfo.SpecialRequests</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No destinations selected.</p>
    }
</div>
