@model Tour_FP.Models.Domain.CustomerDashboardViewModel

@{
    ViewData["Title"] = "ReviewPage";
    Layout = "~/Views/Shared/_udashboardLayout.cshtml";
}




<div class="container mt-4">
    <h2>MY BOOKINGS</h2>

    @if (Model.CustomerInfo.Count > 0)
    {
        @foreach (var destinationInfo in Model.DestinationInfo)
        {
            <div class="row mt-4">

                <div class="col-12 mb-2">
                    <div class="card d-flex flex-row align-items-center">
                        <img class="card-img-left img-fluid p-2 w-25" src="/Uploads/@destinationInfo.Images" alt="@destinationInfo.CountryName">
                        <div class="card-body">
                            <h5 class="card-title">@destinationInfo.CountryName</h5>
                            <p class="card-text">@destinationInfo.Location</p>
                            <p class="card-text">Price: $@destinationInfo.Price</p>
                            <!-- Add any other destination details you want to display -->
                            <!-- Reviews link -->
                        </div>
                    </div>
                </div>
                <form action="@Url.Action("ReviewPage", "User")" method="post">
                    <input type="hidden" name="DestinationId" value="@destinationInfo.DestinationId" />
                    
                   

                    <div class="form-group">
                        <label for="reviewText">Review Text</label>
                        <textarea class="form-control" name="ReviewText" rows="3" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <input type="number" class="form-control" name="Rating" min="1" max="5" required />
                    </div>
                  <br>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                    
                </form>
            
        </div>
        }

           
    }
    else
    {
        <p>No Destinations Booked yet.</p>
    }
</div>



